:root {
  --color-sage-green: #77966D;
  --color-ebony: #626D58;
  --color-golden-sand: #BDC667;
  --color-brown-bark: #544343;
  --color-alabaster-grey: #F9F9F9;
  --color-tea-green: #C7D59F;
  --color-yellow-green: #B7CE63;
  --color-lime-moss: #8FB339;
}

.custom-message {
  border-radius: 10px;
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
  box-shadow: none;
  border: none;
  background-color: var(--color-alabaster-grey);

  .p-message-icon {
    font-size: 1.2rem;
  }

  .p-message-text {
    font-weight: 500;
  }
}

/* SUCCESS */
.custom-message.success {
  background-color: var(--color-tea-green);
  color: var(--color-brown-bark);

  .p-message-icon {
    color: var(--color-sage-green);
  }
}

/* INFO */
.custom-message.info {
  background-color: #eef2e8;
  color: var(--color-ebony);

  .p-message-icon {
    color: var(--color-sage-green);
  }
}

/* WARNING */
.custom-message.warn {
  background-color: var(--color-golden-sand);
  color: var(--color-brown-bark);

  .p-message-icon {
    color: var(--color-brown-bark);
  }
}

/* ERROR */
.custom-message.error {
  background-color: #f3e5e5;
  color: var(--color-brown-bark);
   animation: fadeIn 0.25s ease-in-out;

  .p-message-icon {
    color: #a94442;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}