<nav class="sidebar">
  <p-menu [model]="items" styleClass="sidebar-menu">
    <ng-template pTemplate="start">
      <div class="brand">
        <span class="logo-icon">
          <img id="icon" src="./favicon.ico" alt="Boxify" />
        </span>
        
      </div>
    </ng-template>

    <ng-template pTemplate="item" let-item>
      <a
        pRipple
        class="menu-tile"
        [routerLink]="item.routerLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="item.command && item.command({ originalEvent: $event, item: item })"
      >
        <span class="tile-icon" *ngIf="item.icon" [class]="item.icon"></span>
        <span class="tile-label">{{ item.label }}</span>
      </a>
    </ng-template>
  </p-menu>
</nav>