<div class="dashboard">

  <!-- ===== KPI ROW ===== -->
  <section class="kpi-grid">
    <p-card class="kpi-card">
      <span class="kpi-value">{{ boxes.length }}</span>
      <span class="kpi-label">Összes doboz</span>
    </p-card>

    <p-card class="kpi-card">
      <span class="kpi-value">>{{ getEmptyBoxCount() }}</span>
      <span class="kpi-label">Üres dobozok</span>
    </p-card>

    <p-card class="kpi-card">
      <span class="kpi-value">{{ getMaxCapacity() }}%</span>
      <span class="kpi-label">Legtelítettebb</span>
    </p-card>

    <p-card class="kpi-card">
      <span class="kpi-value">{{ getUniqueItemCount() }}</span>
      <span class="kpi-label">Egyedi tárgyak</span>
    </p-card>
  </section>

  <!-- ===== MAIN GRID ===== -->
  <section class="main-grid">

    <div class="left-column">

  <!-- Chart 1 -->
  <p-card class="card chart-card">
  <h4 class="card-title">Dobozok tárolóhelye</h4>
  <div class="chart-wrapper">
    <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
  </div>
</p-card>

  <!-- Chart 2 -->
 
<p-card class="card chart-card">
  <h4 class="card-title">Tárolóhely felhasználva</h4>
  <div class="chart-wrapper">
    <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
  </div>
  <span class="muted-text">{{ getUsedVolumePercentage() }}% foglalt</span>
</p-card>
  <!-- Table (FULL WIDTH) -->
  <p-card class="card table-card">
    <div class="table-header">
      <h3>Dobozok</h3>
      <div class="table-actions">
         <button pButton icon="pi pi-trash" label="Dobozok törlése" (click)="deleteBoxes()"></button>
        
        <button pButton icon="pi pi-plus" label="Új doboz" routerLink="/boxes/new"></button>
      </div>
    </div>

    <p-table [value]="boxes" responsiveLayout="scroll">
       <ng-template pTemplate="header">
            <tr>
              <th>Kód</th>
              <th>Tartalom</th>
              <th>Kapacitás</th>
              <th>Státusz</th>
              
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-box>
            <tr>
              <td>{{ box.code }}</td>
              <td>{{ box.items }} items</td>
              
              <td>
                <span> 
                  <p-progressBar [value]="box.capacity"></p-progressBar>
                </span>
              </td>
              <td>{{box.status}}</td>
              
            </tr>
          </ng-template>
        </p-table>
    
  </p-card>

