/* You can add global styles to this file, and also import other style files */
:root {
  --color-sage-green: #77966D;
  --color-ebony: #626D58;
  --color-golden-sand: #BDC667;
  --color-brown-bark: #544343;
  --color-alabaster-grey: #F9F9F9;
  --color-tea-green: #C7D59F;
  --color-yellow-green: #B7CE63;
  --color-lime-moss: #8FB339;
}

body{
  margin: 0;
}